.he-wrapper{
max-width: 900px;
margin: auto;
padding: 2em;
background-color: white;
font-family: 'Source Sans Pro', sans-serif;
}

.he-map{
background-color: lightgray;
height: 35em;
margin: 2em 0;
}

.he-wrapper a,
.he-wrapper a:link,
.he-wrapper a:visited{
color: #002F6C;
}

.single-project-wrapper {
border-bottom: 1px solid #002F6C;
padding: 2em 0;
}

.he-wrapper h2 {
color: #002F6C;
}

.current-country {
margin-bottom: 1em;
font-size: 1.5em;
color: #999;
}

.project-description, .project-dates, .project-implementorname, .project-subawardees {
margin-bottom: 1em;
}

.project-description {
color: #666;
line-height: 1.4em;
margin-bottom: 1em;
display: block;
}

.project-implementorname, .project-subawardees {
display:block;
}

.project-dates {
display: inline-block;
padding: .5em;
background: #eee;
}

/* skip link */
.skip-link {
left:-999px;
position:absolute;
top:auto;
width:1px;
height:1px;
overflow:hidden;
z-index:-999;
}

.skip-link:focus, .skip-link:active {
background-color:#eee;
position:relative;
bottom: -10px;
left: auto;
top: auto;
height: auto;
overflow:auto;
padding:5px;
border:1px solid #888;
text-align:center;
z-index:999;
}


/* overrides for jquery UI */
.current-country,
.ui-accordion .ui-accordion-header,
.ui-accordion .project-description,
.project-dates,
.project-implementorname,
.project-subawardees,
.project-link {
    font-family: 'Source Sans Pro', sans-serif;
}

.ui-accordion .ui-accordion-header{
    margin-top: .5em;
}

.ui-state-hover {
border:none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {

border: none;
background: #A7C6ED;
font-weight: inherit;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
border-top-left-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
border-bottom-left-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
border: none;
/* background: #eee; */
}
/* end overrides for jquery UI */
